<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./style.css" th:href="@{/style.css}" />
        <title>Document</title>
    </head>
    <body>
        <h1>
            Welcome user
            <em>"<span th:text="${user.username}">[USERNAME]</span>"</em>
        </h1>

        <!-- Rendering category tree -->
        <form th:action="@{/doCopy}" method="post" id="doCopy">
            <input type="hidden" name="src" th:value="${src}" />
            <button type="submit" form="doCopy" name="dest" value="">
                Copy in Root
            </button>
            <table>
                <thead></thead>
                <tbody>
                    <tr th:if="${tree.empty}">
                        <td colspan="2">No Books Available</td>
                    </tr>
                    <tr th:each="node : ${tree}">
                        <td><span th:text="${node.code}">Code</span></td>
                        <td><span th:text="${node.name}">Name</span></td>
                        <td>
                            <button
                                th:if="${!node.code.startsWith(src)}"
                                type="submit"
                                form="doCopy"
                                name="dest"
                                th:value="${node.code}"
                            >
                                Copy Here
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <!-- END: Rendering category tree -->

        <br />
        <div>
            <a th:href="@{/logout}">Logout</a>
        </div>
    </body>
</html>
