<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Page metadata -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Document setup -->
        <link rel="stylesheet" href="/style.css" th:href="@{/style.css}" />
        <title>Category manager</title>
    </head>

    <body>
        <!-- Main container -->
        <div class="app">

            <!-- Home page greeter -->
            <h1>
                Welcome user
                <em>"<span th:text="${user.username}">[USERNAME]</span>"</em>
            </h1>
            <!-- END: Home page greeter -->

            <!-- Category creation form -->
            <form id="createCategory"
                  action="createCategory"
                  method="post"
                  name="createCategory"
            >
                <label>
                    <b>Category name:</b>
                    <input type="text"
                           placeholder="Enter category name"
                           name="name"
                           required
                    />
                </label>
                <br />
                <label for="parent">
                    <b>Category parent:</b>
                    <select id="parent"
                            name="parent"
                            form="createCategory"
                            required
                    >
                        <option th:if="${rootParentAble}"
                                value="/"
                                th:text="Root"
                        />
                        <option th:each="validParent : ${parentAble}"
                                th:value="${validParent.code}"
                                th:text="${validParent.code}"
                        />
                    </select>
                </label>

                <button type="submit">Create category</button>
            </form>
            <!-- END: Category creation form -->

            <br />

            <!-- Category copying form -->
            <form th:if="${copySrc != null}"
                  th:action="@{/doCopy}"
                  method="post"
                  id="doCopy"
            >
                <input th:value="${copySrc}"
                       type="hidden"
                       name="src"
                />
                <!-- Rendering copy to root button only if root is parentAble -->
                <button th:if="${rootParentAble}"
                        type="submit"
                        form="doCopy"
                        name="dest"
                        value="/"
                >
                    Copy in Root
                </button>
            </form>
            <!-- END: Category copying form -->

            <!-- Category tree -->
            <table>
                <thead></thead>
                <tbody>
                    <tr th:if="${tree.isEmpty()}">
                        <td colspan="2">No categories created...</td>
                    </tr>
                    <tr th:each="node : ${tree}">
                        <td><span th:text="${node.code}">Code</span></td>
                        <td><span th:text="${node.name}">Name</span></td>

                        <!-- Tree element action -->
                        <td th:switch="${copySrc}">
                            <!-- CASE null: -->
                            <a th:case="null"
                               th:href="@{/home(src=${node.code})} "
                            >
                                <em>Copy</em>
                            </a>

                            <!-- default: -->
                            <button th:case="*"
                                    th:if="${!node.code.startsWith(copySrc)}"
                                    type="submit"
                                    form="doCopy"
                                    name="dest"
                                    th:value="${node.code}"
                            >
                                Copy Here
                            </button>
                        </td>
                        <!-- END: Tree element action -->

                    </tr>
                </tbody>
            </table>
            <!-- END: Rendering category tree -->

            <!-- Cancel copying button -->
            <br th:if="${copySrc} != null" />
            <a th:if="${copySrc} != null" th:href="@{/home}" class="button">Cancel copy</a>
            <!-- END: Cancel copying button -->

            <!-- Logout button -->
            <br />
            <a class="button" th:href="@{/logout}">Logout</a>
            <!-- END: Logout button -->

        </div>
        <!-- END: Main container -->
    </body>
</html>
